 .u-section-1 {
  min-height: 985px;
}

.u-section-1 .u-image-1 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url('images/ENCABEZADO1.jpg'), linear-gradient(to bottom, rgba(71, 138, 201, 1), rgba(71, 138, 201, 1));
  min-height: 648px;
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-image-2 {
  width: 239px;
  height: 268px;
  margin: 176px auto 0 133px;
}

.u-section-1 .u-image-3 {
  width: 624px;
  height: 624px;
  object-position: 0% 50%;
  background-image: url("images/imagenprincipal.png");
  background-position: 50% 50%;
  margin: -256px 123px 0 auto;
}

.u-section-1 .u-group-2 {
  min-height: 463px;
  width: 681px;
  height: auto;
  margin: -340px auto 0 34px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 34px 0;
}

.u-section-1 .u-text-1 {
  font-family: "Baloo 2";
  font-weight: 700;
  margin: 10px 16px 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-family: "Comic Neue";
  font-size: 1.5rem;
  font-weight: 700;
  margin: 16px 8px 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-family: "Baloo 2";
  font-weight: 700;
  background-image: none;
  font-size: 1.25rem;
  margin: 28px auto 0;
  padding: 8px 23px 9px 21px;
}

.u-section-1 .u-image-4 {
  width: 179px;
  height: 179px;
  margin: -715px auto 0 400px;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-family: "Baloo 2";
  font-size: 1.25rem;
  margin: 204px calc(((100% - 1320px) / 2)  + 220px) 0 auto;
  padding: 6px 91px 7px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-image-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 149px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 139px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 50px;
    height: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: -714px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 1140px) / 2)  + 40px);
    margin-bottom: 60px;
  }
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 980px;
  }

  .u-section-1 .u-image-1 {
    background-position: 54.65% 50%, 50% 50%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 164px;
    margin-left: 13px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -244px;
    margin-right: 142px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 53px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 115px;
    margin-right: calc(((100% - 940px) / 2)  + 34px);
    padding-left: 51px;
    padding-right: 51px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-3 {
    margin-right: 74px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 17px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 720px) / 2));
    padding: 23px 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-3 {
    background-size: contain;
    width: 520px;
    height: 520px;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    width: 520px;
    margin-top: -236px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.3333333333333333rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-3 {
    width: 320px;
    height: 320px;
  }

  .u-section-1 .u-group-2 {
    width: 320px;
    margin-top: -36px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-2 .u-sheet-1 {
  min-height: 525px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 9px auto 40px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 476px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/TOJMMII.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.u-section-2 .u-container-layout-1 {
  background-image: url("images/TOJMMII.jpg");
  background-position: 50% 50%;
  padding: 30px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 476px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 28px;
}

.u-section-2 .u-text-1 {
  font-family: "Baloo 2";
  font-weight: 700;
  font-size: 3rem;
  margin: 69px 22px 0;
}

.u-section-2 .u-text-2 {
  font-family: "Comic Neue";
  font-size: 1.5rem;
  margin: 28px 0 0;
}

.u-section-2 .u-btn-1 {
  --radius: 50px;
  font-family: "Baloo 2";
  font-weight: 700;
  background-image: none;
  font-size: 1.25rem;
  margin: 41px auto 0;
  padding: 8px 23px 9px 21px;
}

@media (max-width: 1399px) {
  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 994px;
    margin: 0 -27px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 456px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-1 {
    background-size: cover;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 392px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 38px;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: 768px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 300px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 48px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 640px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 421px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.3333333333333333rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 360px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 280px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-3 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/nubesblancascmp.png");
  background-size: cover;
  min-height: 0;
}

.u-section-3 .u-image-1 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 570px;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-image: url("images/nubescmp1.png");
  background-size: cover;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-text-1 {
  --text-color-var: #66c3ff;
  font-weight: 700;
  font-family: "Baloo 2";
  font-size: 3rem;
  width: 728px;
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 913px;
  margin: 0 auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 475px;
  --gap: 10px;
  grid-auto-columns: calc(50% - 5px);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 13px;
}

.u-section-3 .u-image-2 {
  height: 377px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-2 {
  width: 254px;
  min-height: 133px;
  height: auto;
  margin: -78px 60px 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  margin: 7px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 30px 13px;
}

.u-section-3 .u-image-3 {
  height: 377px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-3 {
  width: 254px;
  min-height: 133px;
  height: auto;
  margin: -78px 60px 0 auto;
}

.u-section-3 .u-container-layout-5 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  margin: 7px 0 0;
}

@media (max-width: 1399px) {
   .u-section-3 {
    min-height: 624px;
  }

  .u-section-3 .u-image-1 {
    height: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.4375rem;
    margin-right: 311px;
    margin-left: 321px;
  }

  .u-section-3 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
  }
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 702px;
  }

  .u-section-3 .u-image-1 {
    margin-bottom: 19px;
    min-height: 683px;
  }

  .u-section-3 .u-text-1 {
    width: 517px;
    margin-top: 43px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-list-1 {
    margin-top: -36px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 531px;
  }

  .u-section-3 .u-image-2 {
    height: 414px;
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 19px;
  }

  .u-section-3 .u-image-3 {
    height: 414px;
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 19px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 614px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 95px;
    margin-left: 105px;
  }

  .u-section-3 .u-list-1 {
    width: 708px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-image-2 {
    height: 673px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-2 {
    margin-top: -374px;
  }

  .u-section-3 .u-image-3 {
    height: 673px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-3 {
    margin-top: -374px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-right: 51px;
    margin-left: 61px;
  }

  .u-section-3 .u-list-1 {
    width: 620px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 589px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-2 {
    margin-top: -290px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 589px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-3 {
    margin-top: -290px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-right: auto;
    margin-left: auto;
    width: 320px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-image-2 {
    height: 323px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-2 {
    margin-top: -24px;
  }

  .u-section-3 .u-image-3 {
    height: 323px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-3 {
    margin-top: -24px;
  }
} .u-section-4 {
  background-image: url('images/ENCABEZADO1.jpg'), linear-gradient(to bottom, rgba(41, 46, 51, 1), rgba(41, 46, 51, 1));
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  min-height: 798px;
}

.u-section-4 .u-image-1 {
  width: 333px;
  height: 328px;
  margin: 413px auto 0 calc(((100% - 1320px) / 2)  + 146px);
}

.u-section-4 .u-image-2 {
  height: 315px;
  transform-origin: center center;
  margin-top: -741px;
  margin-bottom: 0;
  object-position: 50% 38.52%;
  transform: scaleY(-1);
}

.u-section-4 .u-image-3 {
  width: 729px;
  height: 526px;
  object-position: 50% 0%;
  margin: -265px calc(((100% - 1320px) / 2)  + 42px) 0 auto;
}

.u-section-4 .u-group-1 {
  min-height: 328px;
  width: 563px;
  background-image: none;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -163px calc(((100% - 1320px) / 2)  + 125px) 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 16px 21px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-family: "Baloo 2";
  font-size: 3rem;
  margin: 0 19px;
}

.u-section-4 .u-text-2 {
  font-family: "Comic Neue";
  font-size: 1.5rem;
  margin: 0 14px;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 21px auto 0;
}

.u-section-4 .u-image-4 {
  width: 398px;
  height: 380px;
  margin: -638px auto 60px calc(((100% - 1320px) / 2)  + 262px);
}

@media (max-width: 1399px) {
   .u-section-4 {
    min-height: 770px;
  }

  .u-section-4 .u-image-1 {
    margin-left: calc(((100% - 1140px) / 2)  + 59px);
  }

  .u-section-4 .u-image-3 {
    margin-right: calc(((100% - 1140px) / 2)  + -48px);
  }

  .u-section-4 .u-group-1 {
    margin-right: calc(((100% - 1140px) / 2)  + 35px);
    height: auto;
  }

  .u-section-4 .u-image-4 {
    margin-left: calc(((100% - 1140px) / 2)  + 172px);
  }
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 820px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 436px;
    margin-left: calc(((100% - 940px) / 2)  + -13px);
  }

  .u-section-4 .u-image-2 {
    height: 235px;
    margin-top: -771px;
  }

  .u-section-4 .u-image-3 {
    object-position: 50% 100%;
    width: 646px;
    height: 540px;
    margin-top: -179px;
    margin-right: calc(((100% - 940px) / 2)  + -66px);
  }

  .u-section-4 .u-group-1 {
    width: 551px;
    min-height: 380px;
    margin-right: calc(((100% - 940px) / 2)  + -19px);
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -728px;
    margin-left: calc(((100% - 940px) / 2)  + 72px);
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 761px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 1017px;
    margin-left: calc(((100% - 720px) / 2)  + 207px);
  }

  .u-section-4 .u-image-3 {
    margin-right: calc(((100% - 720px) / 2)  + -60px);
  }

  .u-section-4 .u-group-1 {
    margin-top: -130px;
    margin-right: calc(((100% - 720px) / 2)  + 5px);
  }

  .u-section-4 .u-image-4 {
    margin-top: -720px;
    margin-bottom: -237px;
    margin-left: calc(((100% - 720px) / 2)  + 40px);
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 595px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 840px;
    margin-left: calc(((100% - 540px) / 2)  + 181px);
  }

  .u-section-4 .u-image-3 {
    width: 640px;
    height: 462px;
    margin-top: -198px;
    margin-right: calc(((100% - 540px) / 2)  + -50px);
  }

  .u-section-4 .u-group-1 {
    margin-top: -69px;
    margin-right: calc(((100% - 540px) / 2)  + -21px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-image-4 {
    margin-top: -623px;
    margin-bottom: -217px;
    margin-left: calc(((100% - 540px) / 2)  + 14px);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 397px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 642px;
    margin-left: calc(((100% - 340px) / 2)  + 17px);
  }

  .u-section-4 .u-image-3 {
    width: 360px;
    height: 260px;
    margin-right: calc(((100% - 360px) / 2));
  }

  .u-section-4 .u-group-1 {
    width: 360px;
    margin-top: 133px;
    margin-right: calc(((100% - 340px) / 2)  + -10px);
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-4 {
    width: 360px;
    height: 344px;
    margin-bottom: -181px;
    margin-left: calc(((100% - 340px) / 2)  + -10px);
  }
}